{% extends "base.html" %}
{% load i18n static %}
{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
<div id="content-main">
    <div class="row justify-content-center">
        <div class="col-md-8 p-5">
            <div class="card">
                <div class="card-header">В целях безопасности, пожалуйста, введите свой старый пароль, затем введите
                    новый пароль дважды, чтобы мы могли убедиться в правильности написания.</div>
                <div class="card-body">
                {% load user_filters %}
                    <form method="post">{% csrf_token %}
                        <div>
                            {% if form.errors %}
                            <p class="errornote">
                                {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                            </p>
                            {% endif %}
                            <fieldset class="module aligned wide">
                                <div class="form-group row my-3">
                                    {{ form.old_password.errors }}
                                    {{ form.old_password.label_tag }} {{ form.old_password|addclass:'form-control'}}
                                </div>
                                <div class="form-group row my-3">
                                    {{ form.new_password1.errors }}
                                    {{ form.new_password1.label_tag }} {{ form.new_password1|addclass:'form-control' }}
                                    {% if form.new_password1.help_text %}
                                    <div class="help">{{ form.new_password1.help_text|safe }}</div>
                                    {% endif %}
                                </div>
                                <div class="form-group row my-3">
                                    {{ form.new_password2.errors }}
                                    {{ form.new_password2.label_tag }} {{ form.new_password2|addclass:'form-control' }}
                                    {% if form.new_password2.help_text %}
                                    <div class="help">{{ form.new_password2.help_text|safe }}</div>
                                    {% endif %}
                                </div>
                            </fieldset>
                            <div class="col-md-6 offset-md-4">
                                <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-primary">
                            </div>
                        </div>
                    </form>
                </div>
            </div> <
    </div> <
</div> 
{% endblock %}