{% extends "base.html" %}
{% load i18n static %}
{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
{% load user_filters %}
<div class="row justify-content-center">
    <div class="col-md-8 p-5">
        <div class="card">
            <div class="card-header">Пожалуйста, введите новый пароль дважды, чтобы мы могли убедиться в правильности
                написания.</div>
            <div class="card-body">
                {% if validlink %}
                <form method="post">{% csrf_token %}
                    <fieldset class="module aligned">
                        <div class="form-group row my-3">
                            {{ form.new_password1.errors }}
                            <label for="id_new_password1">{% trans 'New password:' %}</label>
                            {{ form.new_password1|addclass:'form-control' }}
                        </div>
                        <div class="form-group row my-3">
                            {{ form.new_password2.errors }}
                            <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
                            {{ form.new_password2|addclass:'form-control' }}
                        </div>
                        <input type="submit" class="btn btn-primary" value="{% trans 'Change my password' %}">
                    </fieldset>
                </form>
            </div> 
        </div> 
    </div> 
</div> 
<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
</p>
{% endif %}
{% endblock %}